@{
    ViewData["Title"] = "Home Page";
}
@model List<Activity>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <main class="container">
      <section class="search_section">
        <a asp-controller="Activity" asp-action="AddActivity">
        <button class="button_new">New</button>
        </a>
        <input
          type="text"
          placeholder="Search by keywords..."
          class="search_input"
          id="search-input"
        />
        <button id="openFilter" class="button_filter" onclick="toggleFilterMenu(event)">Filter</button>
          <div id="filterMenu" class="side-menu">
            <div class="menu-content">
              <span class="close-btn" onclick="toggleFilterMenu(event)">&times;</span>
              <h3>ตัวเลือกการกรอง</h3>
              <hr>
              <h4>สถานะกิจกรรม</h4>
              <label><input type="checkbox" class="status-checkbox" value="open"> กิจกรรมที่เปิดรับอยู่</label><br>
              <label><input type="checkbox" class="status-checkbox" value="close"> กิจกรรมที่ปิดรับแล้ว</label><br>
              <hr>
              <h4>ประเภทของกิจกรรม</h4>
              <label><input type="checkbox" class="category-checkbox" value="sport"> กีฬา</label><br>
              <label><input type="checkbox" class="category-checkbox" value="music"> ดนตรี</label><br>
              <label><input type="checkbox" class="category-checkbox" value="food"> อาหาร</label><br>
              <h4>ลักษณะการกรอง</h4>
              <label class="switch">
                <input type="checkbox" id="logic-switch">
                <span class="slider"></span>
              </label>
            </div>
          </div>
      </section>

      <h2>Activity List</h2>
      <div id="event-list" class="activity_grid">
        @foreach(var activity in Model){
          <div class="activity_card_container" data-category="@string.Join(",", activity.Category)" data-status="@activity.Status">
          <div class="activity_card">
            <img src="@activity.ImageUrl" class="activity_img" onerror="this.src='/images/No Image.png';" />
            <div class="activity_info">
              <h3 class="card-title">@activity.Title</h3>
              <p class="card-description">@activity.Description</p>
              <p>เหลือที่ว่าง <span style="color: blue;">@(activity.Number - activity.Member.Count)</span> คน</p>
              <span class="category">ประเภท: @string.Join(", ", activity.Category)</span>
              <span class="status status_open">Status: @activity.Status</span>
            </div>
            <a href="detail.html" class="card-link"></a>
          </div>
        </div>
        }
      </div>
    </main>

    <script src="~/js/index.js"></script>
</body>
</html>
